@import "base/_fonts.scss";
@import "abstract/_setup.scss";
$space-left: calc(((100vw - 1600px + ($padding-global * 4)) / 2));
$width-left: calc((1280px + (100vw - 1600px) / 2));
@mixin fluid-text($min-vw, $max-vw, $min-font-size, $max-font-size, $fluid-line-height) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;
      line-height: $fluid-line-height;
      @media (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{unity($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{unity($max-vw - $min-vw)}));
        line-height: $fluid-line-height;
      }
      @media (min-width: $max-vw) {
        font-size: $max-font-size;
        line-height: $fluid-line-height;
      }
    }
  }
}
@import "../../../node_modules/holygrail3/scss/style.scss";
// -FASE 4 : OVERRIDE YOUR HOLYGRAIL

@import "./theme.scss";


@import "./header2.scss";
@import "./_menu.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px
}

body {
  overflow-x: hidden;
  color: var(--c-primary);
  background-color: #101010;
  scroll-behavior: smooth
}
.has-light {
  color: #fff
}
.text-center{
  text-align: center;
}

@include space($breakpoints, $padding-top, $pt);

@include space($breakpoints, $padding-bottom, $pb);

.bg-dark {
  background-color: #101010;
  color: var(--c-bg-dark)
}
.bg-primary {
  background-color: var(--bg-primary);
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
  max-width: 992px
}

@media(min-width: 768px) {
  .container {
      padding-right:16px;
      padding-left: 16px;
      width: 90%;
      max-width: 768px
  }
}

@media(min-width: 992px) {
  .container {
      width:80%;
      max-width: 992px
  }
}

@media(min-width: 1280px) {
  .container {
      width:80%;
      max-width: 1280px
  }
}

@media(min-width: 1440px) {
  .container {
      width:100%;
      max-width: 1440px
  }
}
.sub-image {
  margin-top: -50px;

  @media (min-width: $break-sm) {

margin-top: -100px;
  }


}
.box_img{
    display: flex;
    align-content: space-between;
    flex-direction: column;


}

.reset-margin{
  margin-right: -16px;
  margin-left: -16px;
}

.grid-5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.box{
  aspect-ratio: 1 / 1;
  max-width: 100px;
  width: 100%;

  background-color: #101010;
  color: #ffffff;
  font-size: 40px;
  display: flex
;
  justify-content: center;
  align-items: center;
  float: right;
}

.bg-light {
  background-color: #ffffff;
  color: var(--c-primary);
}


.box_img{
width: 70vw;

@media (min-width: $break-sm) {

  width: 100%;
}


}

.overflow-md{
  overflow: auto;

  @media (min-width: $break-sm) {

  overflow: hidden;
  }
  
}

.h1,.h3{
  letter-spacing: -0.03em;
}